<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.binge.workforce.app"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="com.binge.workforce.app">
         </property>
         <property
               name="applicationXMI"
               value="com.binge.workforce.app/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.binge.workforce.app/css/default.css">
         </property>
      </product>
   </extension>

</plugin>
